@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Wagmi";
  src: url("lightstories-webfont.woff2") format("woff2");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 300vh;
  position: relative;
  color: #fff;
  font-family: "Work Sans", sans-serif;
}

header {
  height: 10vh;
  width: inherit;
  position: fixed;
  top: 0;
  z-index: 2;
}

nav {
  width: 100%;
  height: 100%;
  background-image: url(./Assets/navBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 100px;
  width: 150px;
  height: 100%;
  background-image: url(./Assets/WAGMI-Logo.jpg);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
}

.navbar {
  width: 50%;
  height: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar a {
  z-index: 3;
}

a {
  text-decoration: none;
  color: #283c63;
  font-family: "Wagmi";
  font-size: 24px;
  font-weight: 500;
}

.wagmiFont {
    font-family: "Wagmi";
    font-size: 24px;
    font-weight: 400;
    color: #928a97;
}

.navbar a:hover {
  cursor: pointer;
  color: white;
  font-size: 26px;
  font-weight: 700;
}

a.active {
  color: black;
  font-style: italic;
  font-size: 26px;
  font-weight: 700;
}

.contentWrapper {
    width: 100%;
    height: 270vh;
    position: absolute;
    top: 80px;    
}

.hero {
  width: 100%;
  height: 90vh;
  background-color: #283c63;
  position: relative;
}

button {
  border: none;
  outline: none;
  background-color: transparent;
  font-family: "Wagmi";
  font-size: 20px;
  color: #fff;
}

.heroArticle {
  width: 770px;
  height: 490px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  position: absolute;
  top: 5%;
  left: 5%;
}

.heroArticle h1 {
  font-size: 96px;
}

.heroArticle p {
  width: 540px;
  font-size: 24px;
  color: #928a97;
}

.heroBtn {
  width: 170px;
  height: 55px;
  background-color: #ff7069;
}

span.colored {
  color: #ff7069;
}

.heroImg {
  width: 745px;
  height: 725px;
  display: flex;
  position: absolute;
  right: 5%;
  bottom: 0;
}

.vr {
  width: 100%;
}

section.blog {
    width: 100%;
    height: 90vh;
    background-color: #ff7069;
    display: flex;
    justify-content: center;
    align-items: center;
}

section article {
    width: 85%;
    height: 85%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.heading {
    text-align: center;
    font-family: "Wagmi";
    font-size: 72px;
    color: #283c63;
}

section.aboutUs {
    width: 100%;
    height: 90vh;
    background-color: #283c63;    
    display: flex;
    justify-content: center;
    align-items: center;
}

.aboutUsText {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

section.aboutUs .heading {
    color: white;
}

p.about {
    color: #928a97;
    font-size: 24px;
    text-align: center;

}

.articleSlider {
    width: 100%;
    height: 380px;
    display: flex;
    gap: 50px;
}

.articleSlider .cards {
    flex: auto;
    width: auto;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #928a973a;
    border-radius: 12px;
}

.cards:hover {
    cursor: pointer;
    border: 1px solid #ff7069;
}

.cardContent {
    width: 75%;
    height: 75%;
    color: black;
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.avatar {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
}

.namePosition {
   width: fit-content;
   height: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 5px;
}

.name {
    color: white;
    font-weight: 800;
    letter-spacing: 2px;
    font-size: 32px;
    text-transform: uppercase;
}

.position {
    color: black;
}

.cardContent .desc {
    width: 100%;
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
}

button.about {
    align-self: center;
    width: 150px;
    height: 50px;
    background-color: #ff7069;
    color: #fff;
    border-radius: 8px;
}

button.about:hover {
    cursor: pointer;
    background-color: #ff7169d2;
}

button.about:hover a {
    color: inherit;

}














footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 20vh;
    background-color: #FFF599;
}