@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 500vh;
  background-color: palegreen;
  position: relative;
  color: #fff;
  font-family: "Work Sans", sans-serif;
}

header {
  height: 80px;
  width: inherit;
  position: fixed;
  top: 0;
  z-index: 2;
}

nav {
  width: 100%;
  height: 100%;
  background-color: #FF7069;
  display: flex;  
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 100px;
  height: 64px;
  background-image: url(./Assets/WAGMI-Logo.jpg);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
}

.navbar {
    width: 50%;
    height: 100%;
    background-color: transparent;
    backdrop-filter: blur(40px);
}

.hero {
    width: 100%;
    height: 725px;
    background-color: #283C63;
    position: absolute;
    top:80px;
}

button {
    border: none;
    outline: none;
    background-color: transparent;
    font: inherit;
    color: #fff;
}

.heroArticle {
    width: 770px;
    height: 490px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 10%;
    left: 5%;
}


.heroArticle h1 {
    font-size: 96px;
}

.heroArticle p {
    width: 540px;
    font-size: 24px;
    color: #928A97;
}

.heroBtn {
    width: 170px;
    height: 55px;
    background-color: #FF7069;
}

span.colored {
    color: #FF7069;
}

.heroImg {
    width: 745px;
    height: 725px;
    display: flex;
    position: absolute;
    right: 5%;
}

.vr {
    width: 100%;
}