@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Wagmi";
  src: url("lightstories-webfont.woff2") format("woff2");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 300vh;
  position: relative;
  color: black;
  font-family: "Work Sans", sans-serif;
  overflow-x: hidden;
  background-color: rgb(247, 244, 244);
}

header {
  height: 10vh;
  width: inherit;
  position: absolute;
  top: 0;
  z-index: 2;
}

.hambuger {
  display: none;
}

nav {
  width: 100%;
  height: 100%;
  background-image: url(./images/navBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 100px;
  width: 150px;
  height: 100%;
  background-image: url(./images/WAGMI-Logo.jpg);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
}

.navbar {
  width: 50%;
  height: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar a {
  z-index: 3;
}

a {
  text-decoration: none;
  color: #283c63;
  font-family: "Wagmi";
  font-size: 24px;
  font-weight: 500;
}

.wagmiFont {
  font-family: "Wagmi";
  font-size: 24px;
  font-weight: 400;
  color: #928a97;
}

.navbar a:hover {
  cursor: pointer;
  color: white;
  font-size: 26px;
  font-weight: 700;
}

a.active {
  color: black;
  font-style: italic;
  font-size: 26px;
  font-weight: 700;
}


/* styles for about section */

.about-hero{
  position: relative;
  top: 3%;
  height: 30%;
  width: 100%;
  background-image: url(./images/wagmi.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  
  
  text-align: center;
    
}
.about-hero::after {
  content: '';
  background-color: rgba(66, 96, 155, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

}
.about-hero .text-overlay{
  position: absolute;
  z-index: 10;
  top: 40%;
  right: 0;
  left: 0;
  padding: 0 2%;
}
.about-hero h1 {
  font-size: 3rem;
  font-weight: 700;
  /* color: #ff7069; */
  color: white;
  width: 100%;
}
/* .about-hero p {
  font-size: 1rem;
  font-weight: 400;
  color: white;
  margin: 1rem 17% ;
} */
.about-hero p {
  color: white;
  font-size: 1rem;
  font-weight: 400;
}
.about-hero p i{
  color: #ff7069;
  font-size: 1.5rem;
  font-weight: 700;
}

.teams-section {
    position: relative;
    top: 3%;

    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    color: #283c63;
}
.aboutteam {
  
  /* display: flex;
  justify-content: center;
  align-items: center; */
  text-align: center;
  padding: 5% 10%;
}
.aboutteam h1{
  font-size: 2rem;
  font-weight: 700;
  color: rgb(36, 35, 35);
  line-height: 2;
  padding-bottom: 1%;
}
.aboutteam p{
  font-size: 1.2rem;
  font-weight: 400;
  color: rgba(65, 63, 63, 0.781);
line-height: 2;
text-align: center;
}

.teams{
  display: flex;
  padding: 2% 5%;
  gap: 7%;
}

.team{
  box-shadow: 10px -10px 10px rgba(255, 113, 105, 0.5);
  border-radius: 10px;
  /* padding: 4% 10%; */
  text-align: center;
  background-color: white;
  padding: 3%;
  
}
.team img{
  width: 50%;
}
.team h3{
font-size: 1.5rem;
}
.team p{
  font-size: 1rem;
  color: #928a97;
  padding: 3%;
}

.mission-vision{
    position: relative;
    top: 5%;
    text-align: center;
}
.mission-vision .values {
  margin: 2% 0;
  padding: 1% 5%;
}
.mission-vision .values h1{
  font-size: 2rem;
  font-weight: 700;
  color: rgb(36, 35, 35);
  padding-bottom: 2%;
}
.mission-vision .values p
{
  font-size: 1rem;
  font-weight: 500;
  color: #201f1fcb;
  line-height: 1.5;
}
.mission-flex{
  display: flex;
  gap: 7%;
  padding: 2% 3%;
}
.mission,
.vision{
  background-color: white;
  box-shadow: 10px -10px 10px rgba(255, 113, 105, 0.5);
  border-radius: 10px;
  padding: 2% 5%;
}
.mission h2,
.vision h2{
font-weight: 600;
padding: 3%;
}

.mission p,
.vision p{
  padding: 1% 5%;
  
}


@media screen and (max-width: 600px) {
  .navbar{
    display: none;
  }
  .logo {
    margin-left: 15px;
    width: 100px;
  }

  .hambuger {
    display: block;
    margin-right: 30px;
  }

  .teams{
    display: flex;
    flex-direction: column;
    /* padding: 1% 3%;
    gap: 7%; */
  }
  .team {
    margin: 4%;
  }

  .mission-flex{
    flex-direction: column;
    
  }
  .mission,
  .vision{
    margin: 4%;
  }
}