/* Color #283C63 */
/* secondary color #FF7069*/


.work-sans-font {
    /* <uniquifier>: Use a unique and descriptive class name
    <weight>: Use a value from 100 to 900 */
    font-family: "Work Sans", sans-serif;

    font-optical-sizing: auto;
    /* font-weight: 200; */
    font-style: normal;
  }

body{
    background-color: rgb(253, 244, 234);
    font-family: "Work Sans", sans-serif;
    padding: 0 10%;
    overflow-x: hidden;
}

.bloghead{
    display: flex;
    max-width: 100%;
    padding: 0 2%;
    /* padding-bottom: 3%; */
    margin-bottom: 3%;
    margin-right: 2%;
    border-bottom: 1px solid #ccc;
}
.bloghead img{
    width: 20%;
    margin-top: 2%;
  
}
.bloghead img:hover {
    cursor: pointer;
}
.bloghead span h1 {
    color: #283C63;
    width: 100%;
    
    margin-left: -150%;
    margin-top: 15%;
    font-size: 2.5vw;
    font-weight: 600;
    
}

.featured {
    /* border: 2px solid red; */
    width: 100%;
    border-radius: 20px;
    height: 80vh;
    /* background-image: url(./images/wagmi.jpg); */
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: -20px;
    
}
.featured::after{
    content: '';
    background-color: rgba(66, 96, 155, 0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
 .featured .read-more a{
    position: absolute;
    right: 0;
    bottom: 0;
    margin-right: 6%;
    margin-bottom: 9%;
    font-size: 4vw;
    font-weight: 100;
    transition: transform 0.5s ease;
    z-index: 20;
    color: #FF7069;
    
 }
 .featured .read-more a:hover {
    color: #fa463d;
    cursor: pointer;
    transform: translateX(5px);
 }

.featured .text-overlay{
    
    margin-bottom: 1%;
    position: absolute;
    color: white;
    bottom: 0;
    padding: 2% 7% 2% 2%;
    z-index: 15;
}

.featured .text-overlay h2 {
    margin-top: 0;
    margin-bottom: 0.5vh;
    font-weight: 600;
    
}
.featured h5 {
    font-size: 2vw;
    margin-top: 0;
    margin-bottom: 0.5vh;
    color: #FF7069;

    border: 1px dashed red;
    width: 15%;
    padding: 0 2%;
}
.featured .text-overlay p{
    width: 100%;
    font-size: 1.5vw;
    font-weight: 300;
    margin-top: 0;
}

.blogposts{
    padding: 2%;
    margin: 2%;
    /* border: 2px solid blue; */
    display: flex;
    
    flex-wrap: wrap;
    gap: 30px;
    /* width: 100%; */
}
.blog{
    flex: 1 1 calc(33.33% - 30px);
    box-sizing: border-box;
    border: 1px solid #ccc; /* Optional: Visualize items */
    max-width: calc(33.33% - 30px);
    border-radius: 10px;
    padding: 1%;
}
/* .blog .image {
    position: relative;
    display: inline-block;
} */
.blog .image img{
    width: 100%;
    height: 35vh;
    padding-bottom: 5%;
    border-radius: 10px;

}
.blog .read-more-button {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.blog .read-more-button a {
    text-decoration: none;
    color: #000;
    font-size: 2vw;
    
    /* border: 2px solid #fa463d;
    background-color: #ff71697e; */
    border: 2px solid #00000062;
    background-color: #beb0b0;
    font-weight: 600; 
    padding: 1vw 1.5vw;
    border-radius: 50%;
   
}
.blog .image:hover .read-more-button {
    opacity: 1;

    cursor: pointer;
}
.blog{
    position: relative;
}
.blog .image{
    position: relative;
}
.blog span{
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 85%;
    z-index: 15;
    width: 100%;
}
.blog .text-overlay h2 {
    font-size: 1rem;
    font-weight: 700;
}
.blog .text-overlay p {
    font-size: 0.8rem;
}

footer {
    display: flex;
    align-items:center;
    justify-content: flex-end;
    padding: 1%;
    border-top: 1px solid #ccc;
}
footer p {
    padding: 0 1%;
}
footer a {
    text-decoration: none;
    color: #fa463d;
    
}


/* Smaller screens */
@media (max-width: 600px){
    
    body {
        padding: 1% 2%;
        
    }
    .bloghead{
        padding: 0;
    }
    
    .bloghead span h1 {
        width: 34vw;
        margin-top: 16%;
        margin-left: 10%;
        font-size: 4vw;
        
    }
    .bloghead img{
        width: 13vw;
    }

    .featured {
        height: 50vh;
        
    }
    .featured .text-overlay {
        padding: 0 10% 0 5%;
        bottom: 3vh;
        
     }
     .featured .read-more a{
        font-size: 6vw;
        bottom: 5%;
        right: 5%;
     }
    
    .featured .text-overlay h2 {
        
        font-weight: 600;
        font-size: 2.5vw;
        
    }
    .featured h5 {
        font-size: 2.5vw;
        width: 17%;
        
    }
    .featured .text-overlay p{
        width: 100%;
        font-size: 2.2vw;
        font-weight: 400;
    }

    .blogposts{
        flex-direction: column;  
    }
    .blog{
        flex: 1 1 calc(100% - 10px);
        max-width: calc(100% - 10px);
    
    }
    .blog .read-more-button{
        opacity: 1;;
    }
    .blog .read-more-button a {
        color: black;
        font-size: 3vw;
        padding: 3% 4%;
        
    }
    .blog span{
       left:90%;
    }

    footer {
        display: flex;
        align-items:center;
        justify-content: flex-end;
        padding: 1%;
        border-top: 1px solid #ccc;
    }
    footer p {
        padding: 0 1%;
        font-size: 2.5vw;
    }
    footer a {
        text-decoration: none;
        color: #fa463d;
    
    }
    
}

@media (min-width: 620px) and (max-width: 1024px) {
    
    .bloghead span h1 {
        width: 34vw;
        margin-top: 16%;
        margin-left: 10%;
        font-size: 4vw;
        
    }
    
     .featured .read-more a{
        font-size: 6vw;
     }

     .featured .text-overlay {
        padding: 0 14% 2% 4%;
     }
    .featured .text-overlay h2 {
        
        font-weight: 600;
        font-size: 3vw;
        
    }
    .featured h5 {
        font-size: 3vw;
        width: 17%;
        
    }
    .featured .text-overlay p{
        width: 100%;
        font-size: 2vw;
        font-weight: 400;
    }

    .blogposts{
        flex-direction: column;  
    }
    .blog{
        flex: 1 1 calc(100% - 10px);
        max-width: calc(100% - 10px);
    
    }

    .blog .read-more-button a {
        color: black;
        font-size: 3vw;
        padding: 3%;
        
    }
    .blog span{
       left: 85%;
    }
}