/* Color #283C63 */
/* secondary color #FF7069*/

.work-sans-font {
    /* <uniquifier>: Use a unique and descriptive class name
    <weight>: Use a value from 100 to 900 */
    font-family: "Work Sans", sans-serif;

    font-optical-sizing: auto;
    /* font-weight: 200; */
    font-style: normal;
  }

body{
    /* background-color: rgb(253, 244, 234); */
    font-family: "Work Sans", sans-serif;
    padding: 0 5%;
    overflow-x: hidden;
}
.bloghead{
    display: flex;
    border-bottom: 0.1px solid #283c632f;
    height: 10vh;
    width: 100%;
    padding-bottom: 3%;
    margin-bottom: 3%;
}
.bloghead img{
    width: 7vw;
    height: 13vh;
}
.bloghead img:hover {
    cursor: pointer;
}
.bloghead span h1 {
    color: #283C63;
    padding-left: 5%;
    /* padding-bottom: -5%; */
    font-size: 2.5vw;
    font-weight: 600;
    width: 100%;
}

.post {
    padding: 0 10%;
}
.post h1 {
    font-size: 3vw;
    color: #283C63;
    font-weight: 800;
    text-align:start;

    margin-bottom: 12px;
    width: 80%;
    line-height: 1;
    letter-spacing: 1;
}
.post p {
    font-size: 1.5vw;
    color: rgb(0, 0, 0);
    line-height: 2;
    letter-spacing: 2;
}

footer {
    display: flex;
    align-items:center;
    justify-content: flex-end;
    padding: 1%;
    border-top: 1px solid #ccc;
    position: relative;
    bottom: 0;
}
footer p {
    padding: 0 1%;
}
footer a {
    text-decoration: none;
    color: #fa463d;

}
@media(max-width: 600px) {
    footer {
        display: flex;
        align-items:center;
        justify-content: flex-end;
        padding: 1%;
        border-top: 1px solid #ccc;
    }
    footer p {
        padding: 0 1%;
        font-size: 2.5vw;
    }
    footer a {
        text-decoration: none;
        color: #fa463d;
    
    }

    .bloghead img{
        width:15vw;
        height: 15vw;
    }

    .bloghead span h1 {
        
        margin-top: 6vw;
        
        font-size: 3.5vw;
    }
}