@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@font-face {
  font-family: "Wagmi";
  src: url("../about/lightstories-webfont.woff2") format("woff2");
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 300vh;
  position: relative;
  color: #fff;
  font-family: "Work Sans", sans-serif;
}

header {
  height: 10vh;
  width: inherit;
  position: fixed;
  top: 0;
  z-index: 2;
}

.hambuger {
  display: none;
}

nav {
  width: 100%;
  height: 100%;
  background-image: url(./Assets/navBg.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  margin-left: 100px;
  width: 150px;
  height: 100%;
  background-image: url(./Assets/WAGMI-Logo.jpg);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
}

.navbar {
  width: 50%;
  height: 60%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.navbar a {
  z-index: 3;
}

a {
  text-decoration: none;
  color: #283c63;
  font-family: "Wagmi";
  font-size: 24px;
  font-weight: 500;
}

.wagmiFont {
  font-family: "Wagmi";
  font-size: 24px;
  font-weight: 400;
  color: #928a97;
}

.navbar a:hover {
  cursor: pointer;
  color: white;
  font-size: 26px;
  font-weight: 700;
}

a.active {
  color: black;
  font-style: italic;
  font-size: 26px;
  font-weight: 700;
}
.menu{
  display: none;
}

.contentWrapper {
  width: 100%;
  height: 270vh;
  position: absolute;
  top: 68px;
}

.hero {
  width: 100%;
  height: 90vh;
  background-color: #283c63;
  position: relative;
  
  display: flex;
  justify-content: space-around;
  align-items: center;
}

button {
  border-radius: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  font-family: "Wagmi";
  font-size: 24px;
  color: #283c63;
}

.heroArticle {
  width: 35%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.heroArticle h1 {
  font-size: 96px;
  line-height: 100px;
}

.heroArticle p {
  width: 100%;
  font-size: 24px;
  color: #928a97;
}

span.colored {
  color: #ff7069;
}

.heroImg {
  width: 50%;
  height: 80%;
  display: flex;
  position: relative;
  bottom: -10%;
}

.vr {
  width: 100%;
}

section.blog {
  width: 100%;
  height: 90vh;
  background-color: #ff7069;
  display: flex;
  justify-content: center;
  align-items: center;
}

section article {
  width: 85%;
  height: 85%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.blog_Slider {
  height: 70%;
  width: 100%;
  display: flex;
  gap: 40px;
}

.cardAbout {
  flex: auto;
  border-radius: 8px;
  height: 100%;
  background-color: rgba(20, 18, 18, 0.171);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);  
}

.heading {
  text-align: center;
  font-family: "Wagmi";
  font-size: 72px;
  color: #283c63;
}

section.aboutUs {
  width: 100%;
  height: 90vh;
  background-color: #283c63;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutUsText {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

section.aboutUs .heading {
  color: white;
}

p.about {
  color: #928a97;
  font-size: 24px;
  text-align: center;
}

.articleSlider {
  width: 100%;
  /* height: 380px; */
  display: flex;
  gap: 50px;
}

.team {
  border-radius: 10px;
  text-align: center;
  background-color: rgba(20, 18, 18, 0.171);
  backdrop-filter: blur(6.6px);
  -webkit-backdrop-filter: blur(6.6px);
  padding: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.team img {
  width: 40%;
}

.team h3 {
  font-size: 1.5rem;
}

.team p {
  font-size: 1rem;
  color: #928a97;
  padding: 3%;
}

button.about {
  align-self: center;
  width: 150px;
  height: 50px;
  background-color: #ff7069;
  color: #fff;
  border-radius: 8px;
}

button.about:hover {
  cursor: pointer;
  background-color: #ff7169d2;
}

button.about:hover a {
  color: inherit;
  font-weight: 700;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20vh;
  background-color: #fff599;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-content {
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-content .left {
  width: 385px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.left .logo {
  margin-left: 0px;
  width: 150px;
  height: 60px;
  background-image: url(./Assets/wagmiFooter.png);
  background-repeat: no-repeat;
  background-size: 150%;
  background-position: center;
}

.footer-content .left .links {
  display: flex;
  justify-content: space-between;
}

.footer-content .left .links a {
  font-family: inherit;
  font-size: 18px;
}

.links a:hover {
  cursor: pointer;
  color: #ff7069;
}

.footer-content .right {
  width: 275px;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: end;
}

.footer-content .right .socials {
  width: 145px;
  height: 25px;
  display: flex;
  justify-content: space-between;
}

.socials img:hover {
  cursor: pointer;
}

.footer-content .right p {
  width: auto;
  color: #283c63;
  font-family: inherit;
  font-size: 14px;
}

@media screen and (max-width: 600px) {
  .hambuger {
    display: block;
    margin-right: 30px;
    position: absolute;
    top: initial;
    right: 0;
    z-index: 30;
  }

  .menu {
    display: none;
    width: 100%;
    height: 100vh;
    position: absolute;
    z-index: 3;
    background-color: rgb(20 18 18 / 82%);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
  }

  .menu .menu-lists {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    position: absolute;
    top: 20%;
  }

  .menu p {
    width: 80%;
    font-weight: bold;
    color: #ff7069;
    line-height: 30px;
    margin-bottom: 15%;
  }

  .menu p:last-child {
    margin: 0;
  }

  .menu a {
    text-transform: uppercase;
    text-decoration: none;
    color: #ff7069;
    margin-left: 10px;
    font-weight: 400;
  }

  p.active {
    border-right: 5px solid #ff7069;
  }

  body {
    height: 3145px;
  }

  header {
    width: 100%;
    position: sticky;
  }

  .logo {
    margin-left: 15px;
    width: 100px;
  }

  .navbar {
    display: none;
  }

  .contentWrapper {
    top: 70px;
  }

  .heading {
    font-size: 55px;
  }

  .hero {
    height: 100vh;
    display: flex;
    flex-direction: column-reverse;
    padding: 0 25px;
    justify-content: center;
  }

  .heroArticle {
    width: 100%;
    height: 45vh;
    position: initial;
  }

  .heroArticle h1 {
    font-size: 42px;
  }

  .heroArticle p {
    width: 100%;
    font-size: 22px;
  }

  .heroImg {
    width: 100%;
    height: 45vh;
    position: initial;
  }

.blog_Slider {
  flex-direction: column;
}
.featured{
  
}
.featured p{
  font-size: 1rem;
  font-weight: 400;
  padding: 20px;
  box-shadow: 10 10 10 10 #ff7069;
}

  section.aboutUs {
    height: 1400px;
  }

  p.about {
    font-size: 22px;
  }

  .aboutUsText {
    gap: 15px;
  }

  section.aboutUs article {
    height: fit-content;
    gap: 40px;
    align-items: center;
  }

  .articleSlider {
    width: 70%;
    /* height: fit-content; */
    gap: 25px;
    flex-direction: column;
  }
  footer { 
    height: 100px;
  } 
  
  
  .left .logo {
    display: none;
  }
  
  
  .footer-content .right {
    display: none;
  }
  
 
  
}
